body {
  margin: 0;
  padding: 0;
  font-family: 'Star Wars';
  letter-spacing: 0.2em;
  background: linear-gradient(to left, rgba(229, 177, 58, 1) 0%, rgba(62, 54, 54, 1) 100%);
}

button {
	font-family: 'Star Wars';
	letter-spacing: 0.2em;
}

input {
	font-family: 'Star Wars';
	letter-spacing: 0.2em;
}
